.cu-watchlist-header {
    font-size: var(--fs-2xlg);
    font-weight: var(--fw-500);
}

.cu-watchlist-table {
    border: 1px solid var(--alpha-white-alpha-8, #FFFFFF14);
    border-radius: 12px;
    min-width: 1100px;
}

.cu-watchlist-table-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
    /* adjust as needed */
    align-items: center;
    gap: 16px;
    /* spacing between columns */
    min-height: 48px;
    padding: 0 24px;
}

.cu-watchlist-no-data{
    padding: 24px;
}

.cu-watchlist-table-header {
    border-bottom: 1px solid var(--alpha-white-alpha-8, #FFFFFF14);
}

.cu-watchlist-table-header-cell {
    font-size: var(--fs-sm);
    font-weight: var(--fw-500);
    color: var(--dark-fg-subtle-color);
    line-height: 20px;
}
.cu-watchlist-table-holding-cell{
    width: 150px;
}

.cu-watchlist-table-data-cell {
    line-height: 20px;
}

.cu-holding-input{
    border: none;
    border-radius: 8px;
    color: var(--muted-color);
    padding: 6px 12px;
    width: 90px;
    font-size: 16px;
    flex: 1;

    background:  #FFFFFF0A;

    box-shadow: 0px 0px 0px 4px #A9E85133,
        0px 0px 0px 1px #A9E851;

}

.cu-holding-input:focus-visible{
    outline: none;
}

.cu-token-logo {
    width: 32px;
    height: 32px;
    border: 0.5px solid var(--alphas-alpha-250, #FFFFFF1A);
    border-radius: 4px;
}

.cu-watchlist-sparkline-img{
    width: 75.6px;
    height: 28px;
}

/* Pagination Styles */

.cu-pagination-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-sm);
    color: var(--dark-fg-subtle-color);
    padding: 0 24px;
    min-height: 48px;
    line-height: 20px;
    border-top: 1px solid var(--alpha-white-alpha-8, #FFFFFF14);

}

.cu-pagination-results,
.cu-pagination-pages {
    font-weight: var(--fw-500);
}

.cu-pagination-next-prev-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cu-pagination-btn {
    border: none;
    background: none;
    font-size: var(--fs-sm);
    color: var(--dark-fg-subtle-color);
    cursor: pointer;
}

.cu-pagination-btn:hover {
    color: var(--white-fg-base-color);
}

.cu-pagination-btn-active {
    color: var(--white-fg-base-color);
}

.cu-pagination-info .ae-dark-fg-disabled-color {
    color: var(--dark-fg-disabled-color);
}





/* More Options Dropdown Styles start */
.cu-more-options-wrapper {
    position: relative;
    display: inline-block;
}

.cu-options-dropdown {
    position: absolute;
    right: 15px;
    top: 14px;
    min-width: 144px;
    background: #23272F;
    box-shadow: 0px 8px 16px 0px #00000014,
        0px 4px 8px 0px #00000014,
        0px 0px 0px 1px #00000014;

    z-index: 10;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 8px;
}

.cu-options-dropdown-item {
    border: none;
    color: var(--dark-fg-subtle-color);
    font-size: var(--fs-sm);
    font-weight: var(--fw-500);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background 0.2s, color 0.2s;
    line-height: 20px;
    padding: 4px 12px;
    background: none;
    /* box-shadow: 0px 8px 16px 0px #00000014; */
    /* box-shadow: 0px 4px 8px 0px #00000014; */
    /* box-shadow: 0px 0px 0px 1px #00000014; */

}

.cu-options-dropdown-item:focus,
.cu-options-dropdown-item:hover {
    background: #23272F;
    color: var(--white-fg-base-color);
}

.cu-options-edit {
    border-radius: 12px 12px 0 0;
    color: var(--dark-fg-subtle-color);
    border-bottom: 1px solid var(--borders-border-menu-bot, #FFFFFF14);
}

.cu-options-remove {
    border-radius: 0 0 12px 12px;
    color: #F87171;
}


/* More Options Dropdown Styles end */


/* For tablets & mobile (≤ 768px) */
@media (max-width: 768px) {

    .cu-saperator {
        background: #ffffff;
        width: 144px;
        border-radius: 100px;
        height: 5px;
        justify-self: center;
    }

    .cu-watchlist-header span {
        font-size: var(--fs-xlg);
    }
}